<h1>Welcome To Twitter Clone</h1>

{% if request.user.is_authenticated %}

<h3>Hello, {{ user.username }}</h3>

<a href="{% url 'createtweet' %}">Tweet</a>
<a href="{% url 'logoutpage' %}">Logout</a>
<a href="{% url 'profilepage' user_name=user.username %}">My Profile</a>
<a href="{% url 'notification' %}">Notifications</a>

<h4>All Tweets</h4>
{% for tweet in tweets %}

<ul style="list-style: none">
  <li>
    <h3><a href="/profile/{{ tweet.createdby }}/">@{{tweet.createdby}}</a></h3>
    <p>{{tweet.tweet_body}}</p>
    <p>{{tweet.time_submitted}}</p>
    <p><a href="/tweet/{{tweet.id}}/">Tweet URL</a></p>
    <hr />
  </li>
</ul>
{% endfor %} {% endif %}
